:root {
  --main-color-orange: #DDB067;
  --main-color-blue: #78A8BC;
  --second-color-blue: #BFDBDE;
  --secondary-orange: #974C18;
  --background-color: #F3F8F9;
  --font-color: #131E1D;
  --color-white: #FFFFFF;

  --items-gap: 35px;
  --block-gap: 65px;
  --heading-gap: 45px;

  --margin-bottom-block: 60px

}
body {
    margin: 0 auto;
    background-color: var(--background-color);
    color: var(--font-color);
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    line-height: 150%;
  }
  a {
    color: var(--font-color);
    text-decoration: none;
  }
  h1,
  h2 {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
  }
  h1 {
    font-size: 54px;
  }
  h2 {
    font-size: 36px;
    margin: 0 0 var(--heading-gap) 0;

  }
  h3 {
    font-size: 30px;
    font-weight: 400;
  }
  section {
    margin-bottom: var(--block-gap);
  }
  .list-item {
    padding-bottom: 20px;
  }
  .page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  .page-content {
    flex-grow: 1;
  }
  .container {
    max-width: 1140px;
    margin: 0 auto;
  }
  .header {
    margin-bottom: var(--margin-bottom-block);
  }
  .background-blue {
    background-color: var(--second-color-blue);
  }
  .header-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
  }

  .header-list a:hover {
    text-decoration: underline;
    color: var(--secondary-orange);
  }
  .main-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .decorate-item,
  .decorate-item-center {
    height: 15px;
  }
  .decorate-item::before {
    content: '';
    display: block;
    background-color: var(--main-color-orange);
    height: 3px;
    width: 265px;
    margin-bottom: 15px;
  }
  .decorate-item::after {
    content: '';
    display: block;
    background-color: var(--main-color-blue);
    height: 3px;
    width: 265px;
    margin: 0 0 35px 50px;

  }
  .main-block__left {
    padding-left: 100px;
  }

  .main-block__button {
    background-color: var(--main-color-orange);
    border: none;
    padding: 15px 86px;
  }
  .main-block__button a {
    color: var(--color-white);
  }
  .main-block__heading {
    padding-bottom: 35px;
  }

  .main-block__text {
    font-size: 28px;
  }

  .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .info__about {
    max-width: 555px;
  }

  .info__contacts {
    max-width: 348px;
    border: 3px solid var(--main-color-orange);
    padding: 24px 45px;
    border-radius: 4px;
  }
  .info__contacts__list {
    list-style: none;
    margin: 0;
  }
  .text-bold {
    font-weight: bold;
  }
  .info__contacts__list-item {
    padding-bottom: 15px;
  }
  .info__contacts__list:last-child {
    padding: 0;
  }

   .decorate-item-center {
    display: block;
    margin: auto;
    width: 690px;
    height: 20px;
    margin-bottom: var(--block-gap);

   }

  .decorate-item-center::before {
    content: '';
    display: block;
    background-color: var(--main-color-orange);
    height: 3px;
    width: 590px;
    margin-bottom: 15px;
  }
  .decorate-item-center::after {
    content: '';
    display: block;
    background-color: var(--main-color-blue);
    height: 3px;
    width: 590px;
    margin-left: 100px;
  }
  .skills {
    max-width: 500px;
    margin: auto;
  }
  .skills__heading {
    text-align: center;
  }
  .skills__list {
    display: flex;
    justify-content: space-between;
  }
  .projects__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--block-gap);
  }
  .projects__link {
    background-color: var(--main-color-blue);
    border: none;
    color: var(--color-white);
  }
  .projects__info a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 50px;

  }
  .projects__info {
    max-width: 366px;
  }
  .code-example__heading {
    text-align: center;
  }
  .education {
    display: flex;
    justify-content: space-between;
  }
  .education__left {
    max-width: 556px;
  }
  .education__right {
    max-width: 464px;
  }
